---
 const personalImageAlt = "Fernando de la Torre Cueva"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >

  <p>
    Licenciado en MEDICINA por la Universidad de Oviedo. 
  </p>

  <p>
    Especialista en <strong>ANESTESIA, REANIMACION Y TRATAMIENTO DEL DOLOR</strong>
  </p>
  <p>
    Residencia en Anestesiología y Reanimación, HOSPITAL GENERAL YAGÜE Burgos
  </p>
  </p>
  <p>
    Compagino mi labor profesional con la participación en colaboraciones en libros y capítulos de la especialidad, artículos en revistas nacionales y como moderador de mesas redondas, Workshops y simposiums.
  </p>
    <p>
Actualmente realiza la dirección de clínicas del dolor a través de la <strong>Unidad Asturias Dolor(Centro médico de Asturias, Clínica Asturias, Hospital Begoña).</strong> 
    </p>
  </div>

  <img width="200" height="200" src="/cipriano/portada.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
