---


const PROJECTS = [
{
    title: "Radiofrecuencia de nervios y ganglios",
    description:
      ["Plexo simpatico lumbar", "Trigemino-Ganglio de Gasser", "Ganglio Estrellado", "Ganglio Esfenopalatino"],
    image: "/cipriano/P1.webp",
  },
  {
    title: "Técnicas de Neuromodulación Espinal y Periférica ",
    description:
    ["Implante de sistemas de estimulación medular y nervio periférico",
"Implante de sistemas de infusion espinal: Bomba Intratecal infusion",
"Estimulación eléctrica transcutánea (TENS)",
"Estimulación eléctrica percutánea de nervios periféricos (PENS)",
"Implante de cateteres tunelizados",
"Implante de reservorios subcutáneos"],
    image: "/cipriano/P2.webp",
  },
  {
    title: "Tratamiento de Hernia discal",
    description:
    ["Tratamiento de la lumbalgia por artrosis de las articulaciones facetarias",
"Radiofrecuencia del Disco intervetebral",
"Radiofrecuencia de terminaciones nerviosas articulaciones",
"Recuperación de la estructura vertebral: Cifoplastia",
"OZONOTERAPIA Hernias discales: Discolisis y Tratamiento paravertebral",
"EPIDURAL Tratamiento transforaminal y translaminar",
"Liberación de fibrosis y adhesiones en el espacio epidural. Epidurolisis, epiduroscopia"],
    image: "/cipriano/P3.webp",
  },
  {
    title: "Tratamiento Dolor de la Columna",
    description:
    ["Tratamiento de la lumbalgia por artrosis de las articulaciones facetarias",
"Radiofrecuencia del Disco intervetebral",
"Radiofrecuencia de terminaciones nerviosas articulaciones",
"Recuperación de la estructura vertebral: Cifoplastia",
"OZONOTERAPIA Hernias discales: Discolisis y Tratamiento paravertebral",
"EPIDURAL Tratamiento transforaminal y translaminar",
"Liberación de fibrosis y adhesiones en el espacio epidural. Epidurolisis, epiduroscopia"],
    image: "/cipriano/P4.webp",
  },
  {
    title: "Tratamiento Dolor de Origen Musculoesquéletico",
    description:
    ["Inyección punto gatillo con anestésicos locales",
"Inyección punto gatillo con Toxina botulínica",
"Inyección intraarticular: Cadera, Rodilla, Hombro",
"Radiofrecuencia articular"],
    image: "/cipriano/P5.webp",
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="eager" src={image} />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            <strong>{title}</strong>
          </h3>
          <div class="flex flex-col flex-wrap mt-2">
            {description.map((desc, index) => (
              <div>
              <p class="mt-2 text-gray-700 dark:text-gray-400">• {desc}</p>
              </div>
            ))}
          </div>
        </div>
      </article>
    ))
  }
</div>





